$primarycolor: #C7A22D;
$secondarycolor: red;
$bkgcolor: #CCC;


.apropos {
    margin: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.4fr 1.1fr 0.1fr 0.3fr;
    gap: 10px 40px;
    grid-template-areas:
        "atelier atelier"
        "rendu look"
        "quote quote"
        "calltoaction calltoaction";
    & h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2em;
    }
    &__title {
        text-align: center;
        margin-bottom: 50px;
        font-size: 3em;
    }
    &__atelier {
        grid-area: atelier;
        background: url("../assets/fondcameras.jpg") no-repeat fixed;
        padding: 100px;
        text-align: justify;
        margin: 40px auto;
    }
    &__box {
        background-color: rgba(46, 46, 46, 0.8);
        color: #FFF;
        padding: 70px 110px;
    }
    &__rendu {
        grid-area: rendu; 
    }
    &__look {
        grid-area: look;
    }
    &__rendu, &__look {
        position: relative;
        background-color: #FFF;
        border: 1px solid $primarycolor;
        margin-top: 20px;
        padding: 20px;
        text-align: justify;
        &::before {
            content: "";
            position: absolute;
            z-index: -2;
            top: 15px;
            left: 15px;
            width: 50%;
            height: 350px;
            box-shadow: -20px 0 10px darken($bkgcolor, 10%);
            transform: rotate(-3deg);
        }
    }
    &__calltoaction {
        grid-area: calltoaction;
        justify-self: center;
        align-self: center;
        background-color: $primarycolor;
        padding: 70px;
        width: 60%;
        margin: 50px auto;
        text-align: center;
        position: relative;
        & h2 {
            font-family: Geneva, Verdana, Tahoma, sans-serif!important;
            font-size: 1.6em!important;
            font-weight: bold;
        }
        &::before {
            content: "";
            position: absolute;
            z-index: -2;
            top: 10%;
            left: 0;
            width: 100%;
            height: 80%;
            border-radius: 12px / 65px;
            box-shadow: 0 0 15px darken($bkgcolor, 70%);
        }
    }
    &__quote {
        grid-area: quote;
        justify-self: center;
        align-self: center;
        font-family: "Kaushan Script", Verdana, sans-serif;
        font-size: 3em;
        color: $secondarycolor;
        margin: 40px auto 0px auto;
    }
    &__btn {
        background-color: #FFF!important;
        color: #000!important;
        line-height: 17px!important;
    }
}

/* MEDIA QUERIES */

/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN TABLETTE------------------------------*/

@media screen and (min-width : 768px) and (max-width : 1024px) {
    .apropos {
        margin: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.1fr 1.1fr 0.1fr 0.3fr;
        &__box {
            padding: 50px 70px;
        }
        &__calltoaction {
            padding: 60px;
            width: 70%;
            & h2 {
                font-size: 1.6em!important;
            }
        }
        &__quote {
            font-size: 2.5em;
        }
    }
}

/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN SMARTPHONE------------------------------*/

@media screen and (min-width : 320px) and (max-width : 768px) {
    .apropos {
        margin: 20px 0px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.4fr 0.5fr 0.1fr 0.3fr;
        gap: 10px 10px;
        grid-template-areas:
            "atelier"
            "rendu"
            "look"
            "quote"
            "calltoaction";
        & h2 {
            margin-bottom: 15px;
            font-size: 1.2em;
        }
        &__title {
            margin-bottom: 30px;
            font-size: 2em;
        }
        &__atelier {
            padding: 50px 30px;
            margin: 0 auto;
        }
        &__box {
            padding: 20px;
            & p {
                font-size: 0.9em;
            }
        }
        &__rendu, &__look {
            margin-top: 20px;
            padding: 20px;
        }
        &__calltoaction {
            justify-self: center;
            align-self: center;
            padding: 20px;
            width: 90%;
            margin: 30px auto;
            & h2 {
                font-size: 1.3em!important;
            }
        }
        &__quote {
            width: 80%;
            text-align: center;
            font-size: 2.3em;
            margin: 20px auto 0px auto;
        }
        &__btn {
            line-height: 17px!important;
        }
    }
}

/* MEDIA QUERIES POUR ADAPTER LE SITE A UN GRAND ECRAN SMARTPHONE------------------------------*/

@media screen and (min-width : 474px) and (max-width : 768px) {
    .apropos {
        &__rendu, &__look {
        position: relative;
        background-color: #FFF;
        border: 1px solid $primarycolor;
        margin-top: 20px;
        padding: 20px;
        text-align: justify;
            &::before {
                top: 15px;
                left: 15px;
                width: 50%;
                height: 200px;
                box-shadow: -20px 0 10px darken($bkgcolor, 10%);
                transform: rotate(-3deg);
            }
        }
    }
}



