.cart {
    margin: 30px auto;
    &__title {
        font-style: 2.5em;
        text-align: center;
    }
    &__list {
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
    }
    &__item {
        margin: 10px;
        min-width: 100%!important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__box {
        align-self: stretch;
        display: flex;
        justify-content: center;
        margin: 30px;
        width: 80%;
        & h2 {
            font-size: 1.5em;
            margin-right: 30px;
            margin-bottom: 0;
        }
        & p {
            font-size: 1.2em;
            margin-right: 20px;
            margin-bottom: 0;
        }
    }
    &__img {
        max-height: 100px;
        width: 20%;
        object-fit: cover;
    }
    &__btn, &__suppressItem {
        display: block!important;
        margin: auto!important;
    }

}