$primarycolor: #C7A22D;
$secondarycolor: red;
$bkgcolor: #CCC;

.cart {
    margin: 30px auto;
    &__title {
        font-size: 2em;
        text-align: center;
    }
    &__list {
        margin: 20px auto;
        text-align: center;
        vertical-align: middle;
        border-collapse: collapse;   
    }
    &__item {
        & td {
            text-align: center;
            vertical-align: middle;
            border: 1px solid #000;
            height: 60px;
            width: 150px;
            padding: 0!important;
        }
    }
    &__btn {
        margin-bottom: 30px;
    }
}

.cartItem {
    &__title {
        font-weight: bold!important;
    }
    &__price {
        font-style: italic;
        font-size: 0.9em!important;
    }
    &__totalPrice {
        font-size: 1em!important;
    }
    &__quantity span {
        margin-left: 10px;
        margin-right: 10px;
    }
    &__img {
        width: 100%;
        object-fit: cover;
    }
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    &__title {
        font-size: 1.3em;
        color: $secondarycolor;
        margin-bottom: 20px;
    }
    &__message {
        font-weight: bold;
        text-align: center;
        color: $secondarycolor;
    }
    &__payment {
        display: flex;
        justify-content: space-between; 
        width: 30%;
        margin-top: 100px;
    }
    &__icon {
        font-size: 3em;
    }
    &__form {
        position: absolute;
        width: 60%;
        left: 20%;
        bottom: 50%;
        padding: 50px;
        background-color: $bkgcolor;
    }

}