$primarycolor: #C7A22D;
$secondarycolor: red;

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-color: #000;
    padding: 40px;
    color: #FFF;
    &__logo {
        width: 15%;
        margin-right: 30px;
        object-fit: contain;
    }
    &__menu {
        list-style-type: none;
        color: $primarycolor;
        font-weight: bold;
        & li {
            color: #FFF;
            font-weight: normal;
        }
    }
    &__icon {
        color: $primarycolor;
        font-size: 1.2em;
        margin-right: 10px;
    }
}
