$primarycolor: #C7A22D;
$secondarycolor: red;
$bkgcolor: #CCC;

.form {
    & input {
        font-size: 0.9em;
        &:focus {
            box-shadow: none!important;
            border: 1px solid $secondarycolor!important;
        }  
    }
    &__title {
        text-align: center;
        font-size: 1.1em!important;
        margin-bottom: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    &__nomComplet, &__adresseComplete {
        display: flex;
        justify-content: space-between;
    }
    &__send {
        display: block!important;
        margin: auto!important;
        margin-top: 30px!important;
    }
    &__error {
        font-style: italic;
        font-size: 0.8em;
        color: $secondarycolor;
        width: 70%;
        margin: auto;
    }
    &__connect {
        display: flex;
        width: 60%;
        margin: auto;
        justify-content: space-around;
        margin-bottom: 90px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: -50px;
            width: 50%;
            left: 25%;
            height: 2px;
            background-color: $secondarycolor;;
        }
    }
    &__btns {
        display: flex;
        width: 60%;
        margin: auto;
        justify-content: space-around;
    }
    &__btn {
        font-size: 0.9em!important;
    }  
}